body{
background:linear-gradient(135deg,#ffd6e7,#ffc0cb,#ffe4ef);
font-family:Arial,sans-serif;
text-align:center;
margin:0;
padding:0;
color:white;
}

.login{
margin-top:100px;
}

input{
padding:12px;
border:none;
border-radius:15px;
width:250px;
font-size:18px;
}

button{
padding:12px 25px;
border:none;
border-radius:15px;
background:#ff4f81;
color:white;
font-size:18px;
margin-top:15px;
cursor:pointer;
}

button:hover{
background:#ff2e6d;
}

.photo{
width:300px;
max-width:90%;
border-radius:25px;
margin-top:20px;
box-shadow:0 0 25px pink;
}

.message{
width:80%;
margin:auto;
font-size:22px;
line-height:1.8;
}

#counter{
font-size:35px;
color:#ff0066;
font-weight:bold;
}